*{
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1656px){
    header
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        width: 100%;
    }

    .menu
    {
        text-align: center;
        padding: 1.5% 0% 0.5% 0%;
        width: 100%;
        background-color: #0076c5;
        /*background-color: cornflowerblue;*/
    }

    .menu li
    {
        display: inline-block;
        width: 8%;
        margin: 0.5% 1%;
        font-size: 1.2em;
        font-weight: bold;
    }

    .menu a
    {
        color: #ececec;
        text-decoration: none;
        transition: 0.5s;
    }

    .menu a:hover
    {
        color: #ffde27;
    }

    main
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3% 0% 4.35% 0%;
        font-size: 1.2em;
    }

    .texto
    {
        display: flex;
        flex-direction: column;
        width: 30%;
        line-height: 1.3em;
    }

    .img
    {
        margin-left: 3%;
    }

    footer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: #ececec;
        width: 100%;
        padding: 2% 10%;
        font-size: 1em;
        line-height: 1.5em;
        background-color: #0076c5;
    }

    .empresa
    {
        display: flex;
        flex-direction: column;
        width: 34%;
        font-size: 1em;
    }

    .redes
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }

    .contato
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1em;
    }
}

@media (min-width: 1330px) and (max-width: 1655px){

    header
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        width: 100%;
    }

    .menu
    {
        text-align: center;
        padding: 1% 0% 0.5% 0%;
        width: 100%;
        background-color: #0076c5;
        /*background-color: cornflowerblue;*/
    }

    .menu li
    {
        display: inline-block;
        width: 8%;
        margin: 0.5% 1%;
        font-size: 1.2em;
        font-weight: bold;
    }

    .menu a
    {
        color: #ececec;
        text-decoration: none;
        transition: 0.5s;
    }

    .menu a:hover
    {
        color: #ffde27;
    }

    main
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3% 0% 4.35% 0%;
        font-size: 1.2em;
    }

    .texto
    {
        display: flex;
        flex-direction: column;
        width: 30%;
        line-height: 1.3em;
    }

    .img
    {
        margin-left: 3%;
    }

    footer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: #ececec;
        width: 100%;
        padding: 2% 10%;
        font-size: 1em;
        line-height: 1.5em;
        background-color: #0076c5;
    }

    .empresa
    {
        display: flex;
        flex-direction: column;
        width: 34%;
        font-size: 1em;
    }

    .redes
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }

    .contato
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1em;
    }
}

@media (min-width: 980px) and (max-width: 1329px){

    header
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        width: 100%;
    }

    .menu
    {
        text-align: center;
        padding: 1.5% 0% 0.5% 0%;
        width: 100%;
        background-color: #0076c5;
        /*background-color: cornflowerblue;*/
    }

    .menu li
    {
        display: inline-block;
        width: 9%;
        margin: 0.5% 2%;
        font-size: 1.1em;
        font-weight: bold;
    }

    .menu a
    {
        color: #ececec;
        text-decoration: none;
        transition: 0.5s;
    }

    .menu a:hover
    {
        color: #ffde27;
    }

    main
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3% 0% 4.35% 0%;
        font-size: 1.2em;
    }

    .texto
    {
        display: flex;
        flex-direction: column;
        width: 30%;
        line-height: 1.3em;
    }

    .img
    {
        margin-left: 3%;
    }

    footer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: #ececec;
        width: 100%;
        padding: 2% 10%;
        font-size: 1em;
        line-height: 1.5em;
        background-color: #0076c5;
    }

    .empresa
    {
        display: flex;
        flex-direction: column;
        width: 34%;
        font-size: 1em;
    }

    .redes
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }

    .contato
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1em;
    }
}

@media (min-width: 499px) and (max-width: 979px){

    header
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        width: 100%;
    }

    .menu
    {
        text-align: center;
        padding: 1.5% 0% 0.5% 0%;
        width: 100%;
        background-color: #0076c5;
        /*background-color: cornflowerblue;*/
    }

    .menu li
    {
        display: inline-block;
        width: 9%;
        margin: 0.5% 2%;
        font-size: 1.1em;
        font-weight: bold;
    }

    .menu a
    {
        color: #ececec;
        text-decoration: none;
        transition: 0.5s;
    }

    .menu a:hover
    {
        color: #ffde27;
    }

    main
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3% 0% 4.35% 0%;
        font-size: 1.2em;
    }

    .texto
    {
        display: flex;
        flex-direction: column;
        width: 60%;
        line-height: 1.3em;
    }

    .img
    {
        margin-top: 3%;
    }

    footer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: #ececec;
        width: 100%;
        padding: 2% 10%;
        font-size: 1em;
        line-height: 1.5em;
        background-color: #0076c5;
    }

    .empresa
    {
        display: flex;
        flex-direction: column;
        width: 36%;
        font-size: 1em;
    }

    .redes
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 1em;
    }

    .contato
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        font-size: 1em;
    }
}

@media (max-width: 498px){

    header
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        width: 100%;
    }

    .menu
    {
        text-align: center;
        padding: 1.5% 0% 0.5% 0%;
        width: 100%;
        background-color: #0076c5;
        /*background-color: cornflowerblue;*/
    }

    .menu li
    {
        display: inline-block;
        width: 9%;
        margin: 0.5% 2%;
        font-size: 1.1em;
        font-weight: bold;
    }

    .menu a
    {
        color: #ececec;
        text-decoration: none;
        transition: 0.5s;
    }

    .menu a:hover
    {
        color: #ffde27;
    }

    main
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3% 0% 4.35% 0%;
        font-size: 1.2em;
    }

    .texto
    {
        display: flex;
        flex-direction: column;
        width: 60%;
        line-height: 1.3em;
    }

    .img
    {
        margin-top: 3%;
    }

    footer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: #ececec;
        width: 100%;
        padding: 2% 10%;
        font-size: 1em;
        line-height: 1.5em;
        background-color: #0076c5;
    }

    .empresa
    {
        display: flex;
        flex-direction: column;
        width: 36%;
        font-size: 1em;
    }

    .redes
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 1em;
    }

    .contato
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        font-size: 1em;
    }
}